# Data Manipulation Studio

For this studio, we will revisit the data set from our last studio. If you recall, California farmers were looking for advice on growing pumpkins. We will use the same [pumpkins dataset](https://www.kaggle.com/usda/a-year-of-pumpkin-prices) as provided by the U.S. Department of Agriculture. You may have to clean data in the process of data manipulation, so feel free to pull up your notebook from the last class's studio.

We will now be focusing our attention on a different region in the United States, the Northeast. When you open up the `dataset` folder, you will have 13 CSVs, including the San Francisco and Los Angeles data from the last lesson. The 13 CSVs are each a different terminal market in the United States.

A **terminal market** is a central site, often in a metropolitan area, that serves as an assembly and trading place for commodities. Terminal markets for agricultural commodities are usually at or near major transportation hubs. [Definition Source](https://en.wikipedia.org/wiki/Terminal_market#:~:text=A%20terminal%20market%20is%20a,or%20near%20major%20transportation%20hubs)

## Getting Started

Import the CSVs for each of the following cities: Baltimore, Boston, New York, and Philadelphia. Set up a dataframe for each city.

In [1]:
# Import the necessary libraries and CSVs. Make some dataframes!
import pandas as pd

In [31]:
# Import CSVs and create DataFrames

baltimore = pd.read_csv(r"C:\Users\flowe\SQLProj\data-analysis-projects\data-manipulation\studio\data-manipulation-studio\dataset\baltimore_9-24-2016_9-30-2017.csv")
boston = pd.read_csv(r"C:\Users\flowe\SQLProj\data-analysis-projects\data-manipulation\studio\data-manipulation-studio\dataset\boston_9-24-2016_9-30-2017.csv")
newyork = pd.read_csv(r"C:\Users\flowe\SQLProj\data-analysis-projects\data-manipulation\studio\data-manipulation-studio\dataset\new-york_9-24-2016_9-30-2017.csv")
philly = pd.read_csv(r"C:\Users\flowe\SQLProj\data-analysis-projects\data-manipulation\studio\data-manipulation-studio\dataset\philadelphia_9-24-2016_9-30-2017.csv")

In [38]:
# Display the first few rows of each DataFrame to confirm
print("Baltimore DataFrame:")
print(baltimore.head(), "\n")

print(boston.head(), "\n")

print(newyork.head(), "\n")

print(philly.head(), "\n")

Baltimore DataFrame:
  Commodity Name  City Name  Type       Package      Variety Sub Variety  \
0       PUMPKINS  BALTIMORE   NaN  24 inch bins          NaN         NaN
1       PUMPKINS  BALTIMORE   NaN  24 inch bins          NaN         NaN
2       PUMPKINS  BALTIMORE   NaN  24 inch bins  HOWDEN TYPE         NaN
3       PUMPKINS  BALTIMORE   NaN  24 inch bins  HOWDEN TYPE         NaN
4       PUMPKINS  BALTIMORE   NaN  24 inch bins  HOWDEN TYPE         NaN

   Grade        Date  Low Price  High Price  ...  Color  Environment  \
0    NaN  04/29/2017        270       280.0  ...    NaN          NaN
1    NaN  05/06/2017        270       280.0  ...    NaN          NaN
2    NaN  09/24/2016        160       160.0  ...    NaN          NaN
3    NaN  09/24/2016        160       160.0  ...    NaN          NaN
4    NaN  11/05/2016         90       100.0  ...    NaN          NaN

  Unit of Sale  Quality Condition Appearance  Storage Crop  Repack  Trans Mode
0          NaN      NaN       NaN        NaN      NaN  NaN       E         NaN
1          NaN      NaN       NaN        NaN      NaN  NaN       E         NaN
2          NaN      NaN       NaN        NaN      NaN  NaN       N         NaN
3          NaN      NaN       NaN        NaN      NaN  NaN       N         NaN
4          NaN      NaN       NaN        NaN      NaN  NaN       N         NaN

[5 rows x 25 columns]

  Commodity Name City Name  Type       Package      Variety Sub Variety  \
0       PUMPKINS    BOSTON   NaN  36 inch bins  HOWDEN TYPE         NaN
1       PUMPKINS    BOSTON   NaN  36 inch bins  HOWDEN TYPE         NaN
2       PUMPKINS    BOSTON   NaN  36 inch bins  HOWDEN TYPE         NaN
3       PUMPKINS    BOSTON   NaN  36 inch bins  HOWDEN TYPE         NaN
4       PUMPKINS    BOSTON   NaN  36 inch bins  HOWDEN TYPE         NaN

   Grade        Date  Low Price  High Price  ...   Color  Environment  \
0    NaN  09/24/2016        160         200  ...  ORANGE          NaN
1    NaN  09/24/2016        160         200  ...  ORANGE          NaN
2    NaN  09/24/2016        160         200  ...  ORANGE          NaN
3    NaN  09/24/2016        160         200  ...  ORANGE          NaN
4    NaN  09/24/2016        160         180  ...  ORANGE          NaN

  Unit of Sale Quality Condition Appearance  Storage Crop  Repack  Trans Mode
0          NaN     NaN       NaN        NaN      NaN  NaN       N         NaN
1          NaN     NaN       NaN        NaN      NaN  NaN       N         NaN
2          NaN     NaN       NaN        NaN      NaN  NaN       N         NaN
3          NaN     NaN       NaN        NaN      NaN  NaN       N         NaN
4          NaN     NaN       NaN        NaN      NaN  NaN       N         NaN

[5 rows x 25 columns]

  Commodity Name City Name  Type       Package      Variety Sub Variety  \
0       PUMPKINS  NEW YORK   NaN  36 inch bins  HOWDEN TYPE         NaN
1       PUMPKINS  NEW YORK   NaN  36 inch bins  HOWDEN TYPE         NaN
2       PUMPKINS  NEW YORK   NaN  36 inch bins  HOWDEN TYPE         NaN
3       PUMPKINS  NEW YORK   NaN  36 inch bins  HOWDEN TYPE         NaN
4       PUMPKINS  NEW YORK   NaN  36 inch bins  HOWDEN TYPE         NaN

   Grade        Date  Low Price  High Price  ...  Color  Environment  \
0    NaN  09/24/2016        150         170  ...    NaN          NaN
1    NaN  09/24/2016        150         170  ...    NaN          NaN
2    NaN  09/24/2016        130         150  ...    NaN          NaN
3    NaN  09/24/2016        130         150  ...    NaN          NaN
4    NaN  09/24/2016        120         140  ...    NaN          NaN

  Unit of Sale Quality Condition Appearance  Storage Crop  Repack  Trans Mode
0          NaN     NaN       NaN        NaN      NaN  NaN       N         NaN
1          NaN     NaN       NaN        NaN      NaN  NaN       N         NaN
2          NaN     NaN       NaN        NaN      NaN  NaN       N         NaN
3          NaN     NaN       NaN        NaN      NaN  NaN       N         NaN
4          NaN     NaN       NaN        NaN      NaN  NaN       N         NaN

[5 rows x 25 columns]

  Commodity Name     City Name  Type       Package      Variety Sub Variety  \
0       PUMPKINS  PHILADELPHIA   NaN  24 inch bins  HOWDEN TYPE         NaN
1       PUMPKINS  PHILADELPHIA   NaN  36 inch bins  HOWDEN TYPE         NaN
2       PUMPKINS  PHILADELPHIA   NaN  36 inch bins  HOWDEN TYPE         NaN
3       PUMPKINS  PHILADELPHIA   NaN  36 inch bins  HOWDEN TYPE         NaN
4       PUMPKINS  PHILADELPHIA   NaN  36 inch bins  HOWDEN TYPE         NaN

   Grade        Date  Low Price  High Price  ...  Color  Environment  \
0    NaN  09/16/2017        140         150  ...    NaN          NaN
1    NaN  09/24/2016        150         150  ...    NaN          NaN
2    NaN  09/24/2016        150         150  ...    NaN          NaN
3    NaN  09/24/2016        150         160  ...    NaN          NaN
4    NaN  10/01/2016        140         140  ...    NaN          NaN

  Unit of Sale  Quality Condition  Appearance  Storage Crop  Repack  \
0          NaN      NaN       NaN         NaN      NaN  NaN       N
1          NaN      NaN       NaN         NaN      NaN  NaN       N
2          NaN      NaN       NaN         NaN      NaN  NaN       N
3          NaN      NaN       NaN         NaN      NaN  NaN       N
4          NaN      NaN       NaN         NaN      NaN  NaN       N

   Trans Mode
0         NaN
1         NaN
2         NaN
3         NaN
4         NaN

[5 rows x 25 columns]

## Clean Your Data

In the last lesson, we cleaned the data related to San Francisco. Pull up your notebook from the last lesson and use it as a reference to clean up these new dataframes.

**Recommended cleaning steps:**
1. Handle missing values in the `Type` column (fill with "Conventional" if needed)
2. Drop irrelevant columns such as `Grade` (only applies to canned pumpkins)
3. Drop columns with high percentages of missing data that aren't needed for analysis
4. Check for and address any other data quality issues you notice

In [52]:
# Clean your data here!
data = (baltimore, boston, newyork, philly)

for table in data:
    table.drop([
        'Type',
        'Grade',
        'Condition',
        'Origin District',
        'Environment',
        'Trans Mode',
        'Quality',
        'Appearance',
        'Storage',
        'Crop',
        'Repack',
        'Package'],
        axis = 1,
        inplace=True
        )

## Combine Your Data

Now that you have four clean sets of data, combine all four into one dataframe that represents the entire Northeast region.

In [ ]:
# Combine the four dataframes into one!
northeast = pd.concat(
    [baltimore, boston, newyork, philly],
    keys=["Baltimore", "Boston", "New York", "Philadelphia"],
    names=["City"]
)
northeast

AttributeError: 'DataFrame' object has no attribute 'color'

## Answer Some Questions

Use `groupby()` and `agg()` to answer the following two questions:

1. What is the mean low and high prices for each type of **unit of sale** in the Northeast region?
2. For the Northeast region, what is the total count of transactions (rows) for each pumpkin variety that came into terminal markets for the year?

In [ ]:
# Put your code here to find the mean low and high prices in the Northeast region for each type of unit of sale.

In [ ]:
# Put your code here to find the total count of transactions for each variety in the Northeast region.

## Bonus Mission

Try answering the same questions for a different region! Choose either:
- **Midwest**: Chicago, Detroit, and St. Louis
- **Southeast**: Atlanta, Columbia, and Miami

Load, clean, and combine the data for your chosen region, then calculate:
1. The mean low and high prices for each type of unit of sale
2. The total count of transactions for each pumpkin variety

In [ ]:
# Try the bonus mission if you have time!