# Cleaning Data with Pandas Exercises

For the exercises, you will be cleaning data in the Women's Clothing E-Commerce Reviews dataset.

**Dataset Information:**
- **Dataset Name:** Women's Clothing E-Commerce Reviews
- **File:** `Womens Clothing E-Commerce Reviews.csv`
- **Source:** This dataset contains reviews written by customers and includes features like ratings, review text, product categories, and customer information.

To start cleaning data, we first need to create a dataframe from the CSV and print out any relevant info to make sure our dataframe is ready to go.

In [1]:
# Import pandas and any other libraries you need here.
import pandas as pd

# Create a new dataframe from your CSV
womens_clothing_rev = pd.read_csv(r"C:\Users\flowe\SQLProj\data-analysis-projects\cleaning-data-with-pandas\exercises\Womens Clothing E-Commerce Reviews.csv")

In [2]:
# Print out any information you need to understand your dataframe
womens_clothing_rev.info()
print(womens_clothing_rev.head(20))

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23486 entries, 0 to 23485
Data columns (total 11 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Unnamed: 0               23486 non-null  int64
 1   Clothing ID              23486 non-null  int64
 2   Age                      23486 non-null  int64
 3   Title                    19676 non-null  object
 4   Review Text              22641 non-null  object
 5   Rating                   23486 non-null  int64
 6   Recommended IND          23486 non-null  int64
 7   Positive Feedback Count  23486 non-null  int64
 8   Division Name            23472 non-null  object
 9   Department Name          23472 non-null  object
 10  Class Name               23472 non-null  object
dtypes: int64(6), object(5)
memory usage: 2.0+ MB
    Unnamed: 0  Clothing ID  Age  \
0            0          767   33
1            1         1080   34
2            2         1077   60
3            3         1049   50
4            4          847   47
5            5         1080   49
6            6          858   39
7            7          858   39
8            8         1077   24
9            9         1077   34
10          10         1077   53
11          11         1095   39
12          12         1095   53
13          13          767   44
14          14         1077   50
15          15         1065   47
16          16         1065   34
17          17          853   41
18          18         1120   32
19          19         1077   47

                                                Title  \
0                                                 NaN
1                                                 NaN
2                             Some major design flaws
3                                    My favorite buy!
4                                    Flattering shirt
5                             Not for the very petite
6                                Cagrcoal shimmer fun
7                Shimmer, surprisingly goes with lots
8                                          Flattering
9                                   Such a fun dress!
10       Dress looks like it's made of cheap material
11                                                NaN
12                                         Perfect!!!
13                                           Runs big
14                Pretty party dress with some issues
15                          Nice, but not for my body
16  You need to be at least average height, or taller
17                       Looks great with white pants
18                                Super cute and cozy
19                            Stylish and comfortable

                                          Review Text  Rating  \
0   Absolutely wonderful - silky and sexy and comf...       4
1   Love this dress!  it's sooo pretty.  i happene...       5
2   I had such high hopes for this dress and reall...       3
3   I love, love, love this jumpsuit. it's fun, fl...       5
4   This shirt is very flattering to all due to th...       5
5   I love tracy reese dresses, but this one is no...       2
6   I aded this in my basket at hte last mintue to...       5
7   I ordered this in carbon for store pick up, an...       4
8   I love this dress. i usually get an xs but it ...       5
9   I'm 5"5' and 125 lbs. i ordered the s petite t...       5
10  Dress runs small esp where the zipper area run...       3
11  This dress is perfection! so pretty and flatte...       5
12  More and more i find myself reliant on the rev...       5
13  Bought the black xs to go under the larkspur m...       5
14  This is a nice choice for holiday gatherings. ...       3
15  I took these out of the package and wanted the...       4
16  Material and color is nice.  the leg opening i...       3
17  Took a chance on this blouse and so glad i did...       5
18  A flattering, super cozy coat.  will work well...       5
19  I love the look and feel of this tulle dress. ...       5

    Recommended IND  Positive Feedback Count   Division Name Department Name  \
0                 1                        0       Initmates        Intimate
1                 1                        4         General         Dresses
2                 0                        0         General         Dresses
3                 1                        0  General Petite         Bottoms
4                 1                        6         General            Tops
5                 0                        4         General         Dresses
6                 1                        1  General Petite            Tops
7                 1                        4  General Petite            Tops
8                 1                        0         General         Dresses
9                 1                        0         General         Dresses
10                0                       14         General         Dresses
11                1                        2  General Petite         Dresses
12                1                        2  General Petite         Dresses
13                1                        0       Initmates        Intimate
14                1                        1         General         Dresses
15                1                        3         General         Bottoms
16                1                        2         General         Bottoms
17                1                        0         General            Tops
18                1                        0         General         Jackets
19                1                        0         General         Dresses

   Class Name
0   Intimates
1     Dresses
2     Dresses
3       Pants
4     Blouses
5     Dresses
6       Knits
7       Knits
8     Dresses
9     Dresses
10    Dresses
11    Dresses
12    Dresses
13  Intimates
14    Dresses
15      Pants
16      Pants
17    Blouses
18  Outerwear
19    Dresses

## Missing Data

Try out different methods to locate and resolve missing data.

In [7]:
# Try to find some missing data!
womens_clothing_rev.isna()
print(womens_clothing_rev.isnull().sum()) #Missing values per column
womens_clothing_rev[womens_clothing_rev.isna().any(axis=1)]

Unnamed: 0                    0
Clothing ID                   0
Age                           0
Title                      3810
Review Text                 845
Rating                        0
Recommended IND               0
Positive Feedback Count       0
Division Name                14
Department Name              14
Class Name                   14
dtype: int64

,Unnamed: 0,Clothing ID,Age,Title,Review Text,Rating,Recommended IND,Positive Feedback Count,Division Name,Department Name,Class Name
0,0,767,33,NaN,Absolutely wonderful - silky and sexy and comf...,4,1,0,Initmates,Intimate,Intimates
1,1,1080,34,NaN,Love this dress! it's sooo pretty. i happene...,5,1,4,General,Dresses,Dresses
11,11,1095,39,NaN,This dress is perfection! so pretty and flatte...,5,1,2,General Petite,Dresses,Dresses
30,30,1060,33,NaN,Beautifully made pants and on trend with the f...,5,1,0,General Petite,Bottoms,Pants
36,36,1002,29,NaN,This is a comfortable skirt that can span seas...,4,1,5,General,Bottoms,Skirts
...,...,...,...,...,...,...,...,...,...,...,...
23450,23450,964,40,NaN,I wanted to love this jacket. so soft and grea...,3,0,4,General,Jackets,Jackets
23453,23453,1104,39,NaN,"I am 5' 2"" about 118 lbs. thought this fit rea...",4,1,0,General Petite,Dresses,Dresses
23458,23458,862,63,NaN,This is my new favorite sweater. it is lightwe...,5,1,0,General Petite,Tops,Knits
23470,23470,1104,39,NaN,NaN,5,1,0,General Petite,Dresses,Dresses
23480,23480,862,35,NaN,NaN,5,1,0,General Petite,Tops,Knits

Did you find any missing data? What things worked well for you and what did not?

In [7]:
# Respond to the above questions here:
'''
When loading the dataset and runing checks like .info() and .isnull().sum(), we can see that there are missing values in several columns, like in Title, Review Text, Division Name, also Department and Class names.
Using .info() gave a quick overview, .isnull().sum() highlighted which columns had missing values.
'''

'\nWhen loading the dataset and runing checks like .info() and .isnull().sum(), we can see that there are missing values in several columns, like in Title, Review Text, Division Name, also Department and Class names.\nUsing .info() gave a quick overview, .isnull().sum() highlighted which columns had missing values.\n'

## Irregular Data

With missing data out of the way, turn your attention to any outliers. Just as we did for missing data, we first need to detect the outliers.

In [ ]:
# Keep an eye out for outliers!
womens_clothing_rev[['Division Name', 'Department Name', 'Class Name']].value_counts(dropna=False)
womens_clothing_rev[['Age', 'Rating', 'Positive Feedback Count']].describe()

count    23486.000000
mean        43.198544
std         12.279544
min         18.000000
25%         34.000000
50%         41.000000
75%         52.000000
max         99.000000
Name: Age, dtype: float64

What techniques helped you find outliers? In your opinion, what about the techniques you used made them effective?

In [ ]:
# Make your notes here:
'''
.describe() method helps to quick scan and suspect outliers, then we confirm them with statistical rules or visualization.
I used .value_counts() to spot unusual values.

'''

'\n.describe() method helps to quick scan: it helps to suspect outliers, then we confirm them with statistical rules or visualization.\nI used .value_counts() to spot unusual values.\n\n\n'

## Unnecessary Data

Unnecessary data could be irrelevant to your analysis or a duplicate column. Check out the dataset to see if there is any unnecessary data.

In [34]:
# Look out for unnecessary data!
womens_clothing_rev.columns.duplicated()
womens_clothing_rev[womens_clothing_rev['Title'].isna() & womens_clothing_rev['Review Text'].notna()].shape[0]

print(womens_clothing_rev.columns)

Index(['Unnamed: 0', 'Clothing ID', 'Age', 'Title', 'Review Text', 'Rating',
       'Recommended IND', 'Positive Feedback Count', 'Division Name',
       'Department Name', 'Class Name'],
      dtype='object')

Did you find any unnecessary data in your dataset? How did you handle it?

In [ ]:
# Make your notes here.
There is Unnamed: 0 column, which is unnecessary and can be removed.

In [ ]:
womens_clothing_rev = womens_clothing_rev.drop(columns=['Unnamed: 0']) #Dropping the unnecessary column.
print(womens_clothing_rev.columns)

Index(['Clothing ID', 'Age', 'Title', 'Review Text', 'Rating',
       'Recommended IND', 'Positive Feedback Count', 'Division Name',
       'Department Name', 'Class Name'],
      dtype='object')

## Inconsistent Data

Inconsistent data is likely due to inconsistent formatting and can be addressed by re-formatting all values in a column or row.

In [ ]:
# Look out for inconsistent data!

print(womens_clothing_rev['Division Name'].unique())
print(womens_clothing_rev['Department Name'].unique())
print(womens_clothing_rev['Class Name'].unique())

['Initmates' 'General' 'General Petite' 'Undefined']
['Intimate' 'Dresses' 'Bottoms' 'Tops' 'Jackets' 'Trend' 'Undefined']
['Intimates' 'Dresses' 'Pants' 'Blouses' 'Knits' 'Outerwear' 'Lounge'
 'Sweaters' 'Skirts' 'Fine Gauge' 'Sleep' 'Jackets' 'Swim' 'Trend' 'Jeans'
 'Legwear' 'Shorts' 'Layering' 'Casual Bottoms' 'Undefined' 'Chemises']

In [ ]:
womens_clothing_rev["Division Name"] = womens_clothing_rev["Division Name"].str.strip().str.title()
womens_clothing_rev["Department Name"] = womens_clothing_rev["Department Name"].str.strip().str.title()
womens_clothing_rev["Class Name"] = womens_clothing_rev["Class Name"].str.strip().str.title()

womens_clothing_rev["Division Name"] = womens_clothing_rev["Division Name"].fillna("Undefined")
womens_clothing_rev["Department Name"] = womens_clothing_rev["Department Name"].fillna("Undefined")
womens_clothing_rev["Class Name"] = womens_clothing_rev["Class Name"].fillna("Undefined")

In [41]:
womens_clothing_rev.isnull().sum()

Clothing ID                   0
Age                           0
Title                      3810
Review Text                 845
Rating                        0
Recommended IND               0
Positive Feedback Count       0
Division Name                 0
Department Name               0
Class Name                    0
dtype: int64

Did you find any inconsistent data? What did you do to clean it?

In [ ]:
# Make your notes here!
I have used .unique() to inspect categories, spot typos, and validate data.
Using .str.strip().str.title() we cleaned the text columns: removed whitespaces and converted the text to Title Case.
Finally, replaced null values with "Undefined".